* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
div>img{
    height: 150px;
}

header{
    margin-bottom:20px;
}

ul{
    list-style-type: none;
}

header li{
    display: inline;
    padding: 10px;
    background-color: aquamarine;
    border-radius: 10px;
    margin: 4px;
}

header li a{
    color: black;
    font-size: 20px;
    text-decoration: none;
    display: inline;
}

.container {
    width: 1366px;
    margin: 0 auto;
    max-width: 100%;

}

header .container{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;

}

main{
    margin-bottom:20px;
}

.legenda{
    display: flex;
    position: relative;
    justify-content: center;
    width: 80%;
    height: 80%;
}

.legenda img{
    position: relative;
    width: 100%;
    height: 100%;
}

.legenda figcaption{
    opacity: 0;
    position: absolute;
    top: 0px;
    background-color: rgba(0,0,0,0.8);
    color:white;
    height: 100%;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    transition: opacity 1s;
}

.legenda figcaption:hover{
    opacity: 1;
}

.video{
    display: flex;
    justify-content: center;
    margin: 15px;
}

footer{
    margin: 0 auto;
    padding: 5px 0;
    background: rgb(80, 108, 112);
}

footer div{
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: bold;
}
footer p{
    color: white;
    font-size: 20px;
}

footer p a{
    text-decoration: none;
    color: inherit;
}